<ul class="list-unstyled">
  <%# not rendering calendar-check icon %>
  <li><a href="https://squareup.com/appointments/book/D2KR5JBSD8KX4/whitney-kae-at-studiok-orem-ut" class="appointment"><%= fa_icon "calendar-check" %> Request An Appointment </a></li>
  <li><%= fa_icon "hourglass" %> Hours</li>
  <li><%= fa_icon "comments" %> Message</li>
</ul>