<div class="social-links">
  <ul class="list-unstyled social-links">
      <li><a href="https://www.facebook.com/whitneykaestudiok" target="_blank"><%= fa_icon "facebook" %> whitneykaestudiok</a></li>
      <li><a href="hhttps://www.instagram.com/whitney.kae/" target="_blank"><%= fa_icon "instagram" %> whitney.kae</a></li>
      <li><a href="https://www.youtube.com/channel/UCSaIzMyCDEVGchbgKfWs35A" target="_blank"><%= fa_icon "youtube" %> Whitney Kae Ridgwell</a></li>
      <li><%= fa_icon "snapchat" %> whitneykae</li>
  </ul>
</div>