<div class="mastfoot">
	<div class="inner">
	  <p class="app-footer">
			<div class="social-links">
				<a href="https://www.facebook.com/whitneykaestudiok" target="_blank"><%= fa_icon "facebook" %></a>
				<a href="https://www.instagram.com/whitney.kae/" target="_blank"><%= fa_icon "instagram" %></a>
        <a href="https://www.youtube.com/channel/UCSaIzMyCDEVGchbgKfWs35A" target="_blank"><%= fa_icon "youtube" %></a>
        <%= fa_icon "snapchat" %>
			</div>
		</p>
	</div>
</div>