<h2>Contact</h2>

<hr>

<div class="row">
	<div class="col-md-12">
		<p class="contact-whit">
			<%# <h3>Address</h3> %>
			<a class="btn btn-lg btn-secondary" href="https://www.google.com/maps/place/Studio+K+Salon/@40.283343,-111.6914922,17z/data=!3m1!4b1!4m5!3m4!1s0x874d9a935798cc35:0x8a880d32e6e38f1a!8m2!3d40.283343!4d-111.6892982">Get Me There</a>

			<%# <h3>Phone</h3> %>
			<a class="btn btn-lg btn-secondary" href="tel:+12085155320"> Call Me </a>

			<%# <h3>Schedule an Appointment</h3> %>
			<a class="btn btn-lg btn-secondary" href="https://squareup.com/appointments/book/D2KR5JBSD8KX4/whitney-kae-at-studiok-orem-ut">Book Now</a>

	</div>
</div>