<h1>Contact</h1>

<hr>

<div class="row">
	<div class="col-md-12">
		<h3>Address</h3>

		<%# <p><a href="https://maps.google.com/?q=2912 Executive Pkwy #220, Lehi, UT 84043">2912 Executive Pkwy #220, Lehi, UT 84043</a></p> %>

		<h3>Phone</h3>

		<h3>Email</h3>

		<%# <p><a href="mailto:cheow3@gmail.com?subject=PortfolioContact" "email me">cheow3@gmail.com</a></p> %>
	</div>
</div>
