<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <p>Whitney Kae<br>
                Cosmetologist/Barber<br>
                Aveda Institue Graduate<br>
                Nanlique Educator<br></p>
                Address: <p><a href="https://www.google.com/maps/place/Studio+K+Salon/@40.283343,-111.6914922,17z/data=!3m1!4b1!4m5!3m4!1s0x874d9a935798cc35:0x8a880d32e6e38f1a!8m2!3d40.283343!4d-111.6892982">Studio K Salon 748 State St, Orem, UT 84058</a></p>
                Phone: <p><a href="tel:+12085155320">208-515-5320</a></p>
            </div>
        </div>
        <hr>

        <div class="col-md-6">
            <div class="card">
                <p><a href="https://squareup.com/appointments/book/D2KR5JBSD8KX4/whitney-kae-at-studiok-orem-ut"> Request An Appointment </a></p>
                Hours<br>
                Message<br>
            </div>
        </div>
        <hr>

        <div class="col-md-6">
            <div class="card">
                Before and Afters
            </div>
        </div>
        <hr>

        <div class="col-md-6">
            <div class="card">
                Social

                <%# <ol class="list-unstyled social-links">
                    <li><a href="https://www.facebook.com/whitneykaehair/" target="_blank"> fa_icon "facebook"</a></li>
                    <li><a href="https://www.instagram.com/whitneykaestudiok/?hl=en" target="_blank"> fa_icon "instagram"</a></li>
                    <li><a href="https://www.pinterest.com/whitkaer/" target="_blank"> fa_icon "pinterest"</a></li>
                </ol> %>
            </div>
        </div>
        <hr>

        <div class="col-md-6">
            <div class="card">
                Services
            </div>
        </div>
    </div>
</div>
