<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h2>Whitney Kae</h2>
                <%= render "lists/whitney" %>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <%= render "lists/salon_details" %>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h2>Before and Afters</h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h2>Social</h2>
                <%= render "lists/social_links" %>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h2>Services</h2>
                <%= render "lists/services"%>
            </div>
        </div>
    </div>
</div>
