@import "bootstrap";
@import "font-awesome";

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.card {
  color: black;
  background-color: transparent;
  border-color: black;
  float: left;
  height: 300px;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  float: right;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

.mastfoot {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social-links a:hover {
  padding: 0 5px 0;
  color: #bfbfbf;
}

.appointment:hover,
.address:hover,
.phone:hover,
.nav-link:hover
 {
  color: #bfbfbf;
}